<div>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">备货单日志</h4>
    </div>
    <div class="express-template-table" style="max-height: 500px; overflow-y: auto;">
        <table class="table" cg-busy="{promise:loading ,message:'加载中。。。'}">
            <thead>
            <tr>
                <th>操作时间</th>
                <th>类型</th>
                <th>操作者</th>
                <th>ip地址</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="preparingBillLog in PreparingBillLogList">
                <td>{{preparingBillLog.createTime}}</td>
                <td ng-if="preparingBillLog.type==1">生成备货单</td>
                <td ng-if="preparingBillLog.type==2">打印备货单</td>
                <td ng-if="preparingBillLog.type==3">导出备货单</td>
                <td>{{preparingBillLog.operator}}</td>
                <td>{{preparingBillLog.ip}}</td>
            </tr>
            <tr ng-show="PreparingBillLogList.length == 0">
                <td colspan="4" style="text-align: center;">无操作记录</td>
            </tr>
            </tbody>
        </table>
    </div stylesty>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-default w-100" data-dismisss="modal" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>