.orderLink {
  .content {
    padding-left: 50px;
    padding-top: 15px;
  }
  .order-list {

  }
  .order-box {
    width: 500px;
    margin-top: 10px;
    .title {
      line-height: 28px;
      border-bottom: 1px #ccc solid;

      .tab-btn {
        border: 1px solid #ccc;
        border-bottom: none;
        border-radius: 2px;
        padding: 7px;
      }
      .text {
        padding-left: 50px;
        font-weight: bold;
      }
    }
    .table {
      border: 1px #ccc solid;
    }
  }
}