<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">电子面单号获取结果</h3>
</div>
<div class="modal-body">
    <div class="bg-warning slogan slogan-help ">
        <img style="margin-top: -6px;" src="images/pages/reminder.png" class="slogan-icon">

        <div class="slogan-content">
            <p style="margin: 0px;" >
                您对<span class="text-warning">[{{totalNum}}]</span>笔订单进行了电子面单号获取，其中<span class="text-success">[{{successRecycleList.length}}]</span>笔单号获取成功，<span class="text-danger">[{{errorRecycleList.length}}]</span>笔单号获取失败.
                <a data-target="#packList"
                   data-toggle="collapse">
                    显示详细
                </a>
            </p>
        </div>
    </div>
    <div class="area-list collapse" id="packList">
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th>序号</th>
                <th>订单号</th>
                <th>获取结果</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="successResult in successRecycleList">
                <td>{{$index+1}}</td>
                <td style="white-space: nowrap;">
                    {{successResult.oids}}
                </td>
                <td>
                    <i class="glyphicon glyphicon-ok"></i>
                </td>
            </tr>
            <tr ng-repeat="errorResult in errorRecycleList">
                <td>{{$index+1}}</td>
                <td style="white-space: nowrap;">
                    {{errorResult.oids}}
                </td>
                <td>
                    {{errorResult.errorMsg|errorMsg}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default w-100" data-dismisss="modal" ng-click="cancel()">关闭</button>
    </div>
</div>