<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">锁定打印机</h3>
</div>
<form class="form-horizontal" role="form" w5c-form-validate=""  name="validateForm" novalidate>
    <div class="modal-body">

            <div ng-hide="edit">
                <div class="form-group">
                    <label class="col-xs-2 control-label">打印机：</label>
                    <div class="controls">
                        <select class="form-control static" ng-model="deliveryTemplate.printerKey" required="" name="username">
                            <option value="">--请选择--</option>
                            <option ng-value="printer" ng-repeat="printer in printerList">{{printer}}</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-base w-100" w5c-form-submit="save(deliveryTemplate)">保存</button>
            <button class="btn btn-default w-100" data-dismisss="modal" ng-click="cancel()">取消</button>
        </div>
    </div>
</form>