<form class="w5c-form" w5c-form-validate="" name="validateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">修改卖家备注</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2">
                    备注旗帜：
                </label>

                <div class="controls col-xs-10">
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="1"><img
                            ng-src="images/components/sellerFlagRED.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="2"><img
                            ng-src="images/components/sellerFlagYELLOW.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="3"><img
                            ng-src="images/components/sellerFlagGREEN.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="4"><img
                            ng-src="images/components/sellerFlagBLUE.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="5"><img
                            ng-src="images/components/sellerFlagPURPLE.png">
                    </label>
                    <label class="radio-inline" ng-show="batch">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="">不修改旗帜
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">
                    备注内容：
                </label>

                <div class="controls col-xs-10">
                    <textarea name="memo" placeholder="请输入卖家备注，最多可输入300字。" ng-maxlength="300" class="form-control input-xlong"
                              ng-model="sellerMemo" cols="30" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group" ng-show="batch">
                <label class="control-label col-xs-2">
                    修改方式：
                </label>

                <div class="controls col-xs-10">
                    <label class="radio-inline">
                        <input type="radio" name="memoType" value="1" ng-model="updateType"> 覆盖现有备注
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="memoType" value="2" ng-model="updateType"> 在现有备注前插入
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="memoType" value="3" ng-model="updateType"> 在现有备注后追加
                    </label>
                </div>
            </div>
        </div>
        <!--<table class="table table-bordered">
            <tbody>
            <tr>
                <td>备注旗帜</td>
                <td>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="1"><img
                            ng-src="images/components/sellerFlagRED.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="2"><img
                            ng-src="images/components/sellerFlagYELLOW.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="3"><img
                            ng-src="images/components/sellerFlagGREEN.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="4"><img
                            ng-src="images/components/sellerFlagBLUE.png">
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="sellerFlag" name="memoFlag" value="5"><img
                            ng-src="images/components/sellerFlagPURPLE.png">
                    </label>
                </td>
            </tr>
            <tr>
                <td>备注内容</td>
                <td>
                    <textarea name="memo" placeholder="请输入卖家备注，最多可输入300字。" ng-maxlength="300" class="form-control"
                              ng-model="sellerMemo" cols="30" rows="5"></textarea>
                </td>

            </tr>
            <tr ng-show="batch">
                <td>修改方式</td>
                <td>
                    <label class="radio-inline">
                        <input type="radio" name="memoType" value="1" ng-model="updateType"> 覆盖现有备注
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="memoType" value="2" ng-model="updateType"> 在现有备注前插入
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="memoType" value="3" ng-model="updateType"> 在现有备注后追加
                    </label>
                </td>
            </tr>
            </tbody>
        </table>-->

    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-base w-100" w5c-form-submit="save()">保存</button>
            <button class="btn btn-default w-100" data-dismisss="modal" ng-click="cancel()">取消</button>
        </div>
    </div>
</form>